.aws/
.emacs.d/projectile-bookmarks.eld
.zoomus/
.CFUserTextEncoding
.DS_Store
.IntelliJIdea14/
.Trash/
.anyconnect
.atom/
.bash_history
.cabal/
.cargo/
.citrix/
.config/
.cups/
.emacs.d/.sx/
.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/elpa/
.emacs.d/paradox-github-token
.emacs.d/places
.emacs.d/url/
.gem/
.ghc/
.gradle/
.ideaLibSources/
.lein/
.lesshst
.m2/
.mavenrc
.mkshrc
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.psql_history
.rnd
.rvm/
.saves/
.ssh/
.subversion/
.vim/
.viminfo
.zlogin
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
companies.org
dev/
fitness/
http/
music.org
src/
twu44/
words-of-wisdom.org
twu45/
.boot/
.android/
.emacs.d/ido.last
.vagrant.d/
VirtualBox VMs/
.IntelliJIdea15/
.idea-build/
.jenv/
.scala_history
words/
.account
.ansible.cfg
.ansible/
.ansible_galaxy
.babel.json
.bash_sessions/
.bin/
.bundle/
.chromedriver2-helper/
.clojure/
.clojure_history
.coreplatform_shell_setup/
.docker/
.gitignore_global
.hitch_export_authors
.hitch_pairs
.hitchrc
.irb-history
.kube/
.minikube/
.mysql_history
.npmrc
.passwords
.v8flags*
.vault-unicorn
.victims/
.zinc/
Projects/
coreplatform/
dbdrivers/
go/
golang/
terracotta/
workspace/
.bash-org.sh
Org/
bootes/