[hub]
protocol = https

[core]
excludesfile = ~/.gitignore_global
editor = emacsclient -c

[user]
name = Imdad Ahmed
email = imdad.ahmed@gmail.com

[includeIf "gitdir:~/Projects/"]
path = ~/Projects/.gitconfig

[includeIf "gitdir:~/Personal/"]
path = ~/Personal/.gitconfig

[includeIf "gitdir:~/ThoughtWorks/"]
path = ~/ThoughtWorks/.gitconfig

[push]
default = simple

[alias]
l = log --oneline
ds = diff --staged
pr = pull --rebase
d = diff
ci = commit
cmr = commit --amend --reset-author
cmrn = commit --amend --reset-author --no-edit
co = checkout
lm = log --pretty=format:"%h%x09%an%x09%ad%x09%s" --date=human
st = status
cpk = cherry-pick
[credential]
	helper = osxkeychain
