[hub]
protocol = https

[core]
excludesfile = ~/.gitignore_global
editor = vi

[user]
name = Imdad Ahmed
email = imdad.ahmed@gmail.com

[include]
path = ~/Projects/client/.gitconfig

[push]
default = simple

[alias]
l = log --oneline
ds = diff --staged
pr = pull --rebase
d = diff
ci = commit
cmr = commit --amend --reset-author
cmrn = commit --amend --reset-author --no-edit
co = checkout
lm = log --pretty=format:"%h%x09%an%x09%ar%x09%s"
st = status
cpk = cherry-pick
