.CFUserTextEncoding
.IntelliJIdea14/
.Trash/
.anyconnect
.atom/
.bash_history
.cabal/
.citrix/
.config/
.cups/
.emacs.d/.sx/
.emacs.d/elpa/
.emacs.d/url/
.gem/
.ghc/
.gradle/
.ideaLibSources/
.lein/
.lesshst
.m2/
.mavenrc
.mkshrc
.node-gyp/
.npm/
.nvm/
.psql_history
.rnd
.rvm/
.ssh/ciscovm_tw_id_rsa
.ssh/id_rsa
.ssh/known_hosts
.subversion/
.vim/
.viminfo
.zlogin
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
companies.org
dev/
fitness/
http/
music.org
src/
twu44/
words-of-wisdom.org
twu45/
.boot/
